div {
    text-align: left;
}

span {
    display: inline-block;
    margin: 5px;
    border: 1px solid #0077B5;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

span i[class*="icono"] {
    color: grey;
    transition: all 0.2s;
}

span:hover {
    cursor: pointer;
}

span:hover i {
    color: #0077B5;
}

.icono-linkedIn {
    width: 5px;
    height: 16px;
    box-shadow: inset 0 0 0 32px, 8px 0;
    margin: 12px 24px 6px 5px;
}

.icono-linkedIn:before {
    position: absolute;
    width: 5px;
    height: 5px;
    box-shadow: inset 0 0 0 32px;
    top: -7px;
    left: 0;
    border-radius: 50%;
}

.icono-linkedIn:after {
    position: absolute;
    width: 12px;
    height: 16px;
    border-right: 1px solid;
    left: 11px;
    bottom: 0;
    border-radius: 8px 5px 0 0 / 11px 5px 0 0;
    box-shadow: inset -4px 4px;
}

.icono-instagram:before,
[class*="icono-check"]:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icono-instagram {
    width: 26px;
    height: 26px;
    box-shadow: inset 0 0 0 2px;
    border-radius: 4px;
    margin: 4px;
}

.icono-instagram:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px;
}

.icono-instagram:after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    right: 3px;
    top: 3px;
    box-shadow: 0 0 0 2px, 1px 1px 0 2px, -5px -1px 0 1px, -10px -1px 0 1px, -16px 1px 0 2px;
}

.icono-mail {
    width: 28px;
    height: 18px;
    overflow: hidden;
    margin: 8px 3px;
    border: 2px solid;
}

.icono-mail:before {
    position: absolute;
    width: 24.61538462px;
    height: 24.61538462px;
    -webkit-transform: rotate(50deg) skew(-10deg, -20deg);
    -ms-transform: rotate(50deg) skew(-10deg, -20deg);
    transform: rotate(50deg) skew(-10deg, -20deg);
    top: -20px;
    left: -3px;
    border: 2px solid;
}

.icono-codepen {
    width: 2px;
    height: 10px;
    box-shadow: inset 0 0 0 32px, 0 15px, -11px 7px, 11px 7px;
    margin: 4px 16px 20px;
}

.icono-codepen:before {
    position: absolute;
    right: 2px;
    top: 3px;
    width: 11px;
    height: 4px;
    -webkit-transform: skew(0, -35deg) scaleY(0.6);
    -ms-transform: skew(0, -35deg) scaleY(0.6);
    transform: skew(0, -35deg) scaleY(0.6);
    box-shadow: inset 0 0 0 32px, 0 13px, 11px 26px, 12px 39px;
}

.icono-codepen:after {
    position: absolute;
    left: 2px;
    top: 3px;
    width: 11px;
    height: 4px;
    -webkit-transform: skew(0, 35deg) scaleY(0.6);
    -ms-transform: skew(0, 35deg) scaleY(0.6);
    transform: skew(0, 35deg) scaleY(0.6);
    box-shadow: inset 0 0 0 32px, 0 13px, -11px 26px, -12px 39px;
}

[class*="icono-"] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #dddddd;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
}

[class*="icono-"]:before,
[class*="icono-"]:after {
    content: '';
    pointer-events: none;
}

[class*="icono-"][class*="Circle"] {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 2px;
}

[class*="icono-"][class*="Square"] {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 2px;
}

[class*="icono-"],
[class*="icono-"] * {
    box-sizing: border-box;
}