span {
    display: inline-block;
    margin: 5px;
    position: relative;
    font-size: 40px;
    color: #4e5c63;
}

span:hover {
    cursor: pointer;
}

path, rect {
    transition: all 0.2s;
}

svg:hover #linkedin {
    fill: #0076B2;
}

svg:hover #mail {
    fill: #c71610;
}

svg:hover #instagram {
    fill: #517EA3;
}

svg:hover #github {
    fill: #24292e;
}